<!DOCTYPE html>
<html>
  <head>
    <title>Weekly Kids Coding Classes | Fall 2016 | Power Up Tech Academy</title>
    <meta name="description" content="Learn to code year-round with weekly classes. Make video games, Minecraft mods, websites and more.">
    <div id="header">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="slick/slick.css">
      <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
      <link href="css/font-awesome.css" rel="stylesheet">
      <link href="css/main.css" rel="stylesheet">
      <link href="css/location.css" rel="stylesheet">
      <link href="css/reviews.css" rel="stylesheet">
      <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Open%20Sans" rel="stylesheet" type="text/css"><!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');
        
        fbq('init', '236074563402225');
        fbq('track', "PageView");
      </script>
      <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=236074563402225&amp;ev=PageView&amp;noscript=1"></noscript><!-- End Facebook Pixel Code -->
    </div>
  </head>
  <body><!-- Google Tag Manager -->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5GJPH2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5GJPH2');</script><!-- End Google Tag Manager -->
    <header class="header-main">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="img/power-up-tech-academy-sm.png" alt-text="Power Up Tech Academy"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li id="menu-home"><a href="index.html" alt-text="Home">Home</a></li>
              <li class="dropdown" id="menu-approach"><a class="dropdown-toggle" href="whycoding.html" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span>
                  <ul class="dropdown-menu">
                    <li id="menu-why"><a href="whycoding.html">Why coding?</a></li>
                    <li id="menu-curriculum"><a href="codingcurriculum.html">Curriculum</a></li>
                    <li id="menu-about"><a href="aboutfounder.html">Founder</a></li>
                    <li id="menu-team"><a href="team.html">Team</a></li>
                    <li id="menu-contact"><a href="contact.html">Contact</a></li>
                    <li id="menu-location"><a href="location.html">Location</a></li>
                    <li id="menu-reviews"><a href="reviews.html">Reviews</a></li>
                  </ul></a></li>
              <li class="dropdown" id="menu-classes"><a class="dropdown-toggle" href="classes.html" data-toggle="dropdown" role="button" aria-expanded="false">Weekly Classes <span class="caret"></span>
                  <ul class="dropdown-menu">
                    <li id="menu-weekly-schedule"><a href="weeklyschedule.html">Schedule &amp; fees</a></li>
                    <li id="menu-weekly-descriptions"><a href="weeklydescriptions.html">Descriptions</a></li>
                    <li id="menu-weekly-faq"><a href="faq.html">FAQs</a></li>
                  </ul></a></li>
              <li id="menu-wkdclasses"><a href="summercamps.html">Summer Camps</a></li>
              <li id="menu-blog"><a href="blog.html">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li id="menu-register"><a class="nav-highlight" href="register.html">REGISTER</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="section-primary-light section-question section-first">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>WEEKLY CODING CLASSES - SCHEDULE AND FEES
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section>
      <section>
        <div class="container">
          <div class="row pad-bottom">
            <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <h2 class="heading-section text-center">FALL 2016 KIDS CODING CLASS SCHEDULE</h2><a href="weeklydescriptions.html"><img src="img/FallSchedule3.png" width="100%"></a>
            </div>
          </div>
          <div class="row pad-bottom">
            <div class="col-md-5 col-sm-offset-1 text-center pad-bottom">
              <div class="btn-align-center"><a class="btn btn-secondary-inverse btn-solo" href="weeklydescriptions.html">View Descriptions</a></div>
            </div>
            <div class="col-md-5 text-center pad-bottom">
              <div class="btn-align-center"><a class="btn btn-secondary-inverse btn-solo" href="http://bookeo.com/powerupta?category=31507UHUE31561FB215FB">Register Now</a></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row pad-bottom">
            <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <h2 class="heading-section text-center">FALL 2016 KIDS CODING CLASS FEES</h2>
              <h4 class="text-center">Regular class fee - 60 minutes for 10 weeks: $299</h4>
              <h4 class="text-center">Regular class fee - 75 minutes for 10 weeks: $374</h4>
              <h4 class="text-center">Minecraft class fee - 60 minutes for 10 weeks: $329</h4>
              <h3 class="text-center heading-section pad-top-heavy">DISCOUNTS</h3>
              <h4 class="text-center">Sibling discount: 10% per child - use code SIBLING</h4>
              <h4 class="text-center">Multiple classes (in same session) discount: 10% per class - use code MULTIPLE</h4>
              <h3 class="text-center heading-section pad-top-heavy">STUDENT REFERRAL PROGRAM</h3>
              <h2 class="text-center heading-secondary">**NEW FOR FALL 2016**</h2>
              <p>We've noticed that a lot of our students are helping us to spread the word, and we want to say "thank you!"</p>
              <p>So starting August 1, you can get a referral credit of $25 for each new student you refer. Just tell your friends to put your name in the referral box when they sign up! It's that easy!</p>
              <h3 class="pad-top">The Fine Print</h3>
              <p>There are no limits on the number of different students you can refer, but you can only receive one credit for a given student.</p>
              <p>The new student must first register and pay for a Power Up Tech Academy class, listing your name in the referral box. We will then add the $25 credit to your account.</p>
              <p>Your referral redit may be used for any Power Up Tech Academy class, camp or Minecraft party. There is no cash value.</p>
              <p>This program starts August 1, 2016 and is not retroactive. </p>
            </div>
          </div>
          <div class="row pad-bottom">
            <div class="col-md-5 col-sm-offset-1 text-center pad-bottom">
              <div class="btn-align-center"><a class="btn btn-secondary-inverse btn-solo" href="weeklydescriptions.html">View Descriptions</a></div>
            </div>
            <div class="col-md-5 text-center pad-bottom">
              <div class="btn-align-center"><a class="btn btn-secondary-inverse btn-solo" href="http://bookeo.com/powerupta?category=31507UHUE31561FB215FB">Register Now</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="padding-top-light">
        <div class="container">
          <h2 class="heading-section text-center">WHY CHOOSE POWER UP TECH ACADEMY'S KIDS CODING CLASSES?</h2>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="block block-primary-inverse">
                <div class="row">
                  <div class="col-sm-3 block-center"><i class="fa fa-child fa-primary fa-6"></i>
                    <h3 class="heading-primary pad-bottom">Kid Friendly</h3>
                  </div>
                  <div class="col-sm-9">
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>iPad classes allow kids to start as young as 5</p>
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>We use coding languages designed for kids' favorite projects: games and animations</p>
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>No typing = faster and less frustrating</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
              <div class="block block-primary-inverse">
                <div class="row">
                  <div class="col-sm-3 block-center"><i class="fa fa-thumbs-up fa-primary fa-6"></i>
                    <h3 class="heading-primary pad-bottom">Motivating</h3>
                  </div>
                  <div class="col-sm-9">
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>Make real, working games and animations from Day 1</p>
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>Express yourself with your own choice of characters and themes</p>
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>Share projects with friends in class and at home</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
              <div class="block block-primary-inverse">
                <div class="row">
                  <div class="col-sm-3 block-center"><i class="fa fa-users fa-primary fa-6"></i>
                    <h3 class="heading-primary pad-bottom">Individualized</h3>
                  </div>
                  <div class="col-sm-9">
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>Small class size and 4:1 student-teacher ratio</p>
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>Hands-on time with 1:1 coaching</p>
                    <p><i class="fa fa-bolt fa-3 fa-secondary pad-right-light"></i>Learn the basics, then design your own project!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section-light">
          <div class="container">
            <div class="row">
              <div class="email-box col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <div id="mc_embed_signup1">
                  <form class="validate" id="mc-embedded-subscribe-form1" action="//powerupta.us8.list-manage.com/subscribe/post?u=ed0abfd69c7573fb1e0291095&amp;amp;id=b0ca742eea" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll1">
                      <h2 class="heading-section">SIGN UP FOR UPDATES</h2>
                      <p>Be the first to find out about new classes, camps, special events and coding news:</p>
                      <input class="email" id="mce-EMAIL1" type="email" value="" name="EMAIL" placeholder="email address" required style="width:300px"><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px">
                        <input type="text" name="b_ed0abfd69c7573fb1e0291095_b0ca742eea" tabindex="-1" value="">
                      </div>
                      <input class="btn btn-secondary" id="mc-embedded-subscribe1" type="submit" value="Subscribe" name="subscribe">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <div id="footer"></div>
    <footer class="footer-main"> 
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <h4>Our community</h4>
            <ul>
              <li><a href="http://facebook.com/powerupta" target="_new">Facebook</a></li>
              <li><a href="http://twitter.com/powerupta" target="_new">Twitter</a></li>
              <li><a href="blog.html">Blog                 </a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>About</h4>
            <ul>
              <li><a href="team.html">Team</a></li>
              <li><a href="aboutfounder.html">Founder</a></li>
              <li><a href="location.html">Location</a></li>
              <li><a href="jobs.html">Jobs</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>Classes</h4>
            <ul>
              <li><a href="classes.html">Weekly classes</a></li>
              <li><a href="summercamps.html">Summer Camps</a></li>
              <li><a href="codingcurriculum.html">Curriculum</a></li>
              <li><a href="faq.html">FAQs</a></li>
              <li><a href="reviews.html">Reviews</a></li>
              <li><a href="register.html">Registration</a></li>
            </ul>
          </div>
        </div>
        <div class="row extra-pad-top">
          <div class="col-md-12">
            <p class="text-center"><span itemscope itemtype="http://schema.org/EducationalOrganization"><span itemprop="name">Power Up Tech Academy</span><span class="pad-left-light">|</span><span class="pad-left-light" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">2867 N Clybourn Ave</span><span class="pad-left-light" itemprop="addressLocality"> Chicago </span>, <span itemprop="addressRegion"> IL</span><span class="pad-left-light" itemprop="postalCode"> 60618</span></span><span class="pad-left-light">|  </span><span class="pad-left-light" itemprop="telephone">773-382-0778</span></span></p>
          </div>
          <div class="col-md-12">
            <p class="copyright">Copyright &copy; 2016 Power Up Tech Academy - All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>